.footer {
  background-color: var(--dark-color);
  color: var(--light-color);

  &__container {
    padding-block: rem(40);
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    @include mobile {
      text-align: center;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__copy {
    color: rgba($color: #fff, $alpha: 0.7);
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
  }
}
