<section class="trainers section-offset" id="trainers">
  <div class="container">
    <h2 class="section-title trainers__title">Профессиональные тренеры</h2>
  </div>

  <div class="trainers__wrapper">

    <div class="swiper trainers__content">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-1.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-1.jpg" class="trainers__image" width="360" height="500" alt="Тренер">
            </picture>

            <h3 class="trainers__name">Тренер 1</h3>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>

          </div>
        </div>

        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-2.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-2.jpg" class="trainers__image" width="360" height="500" alt="Тренер">
            </picture>

            <h3 class="trainers__name">Тренер 2</h3>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-2">Подробнее</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-3.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-3.jpg" class="trainers__image" width="360" height="500" alt="Тренер">
            </picture>

            <h3 class="trainers__name">Тренер 3</h3>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-3">Подробнее</button>

          </div>
        </div>

        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-4.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-4.jpg" class="trainers__image" width="360" height="500" alt="Тренер">
            </picture>

            <h3 class="trainers__name">Тренер 4</h3>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-4">Подробнее</button>

          </div>
        </div>

        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-3.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-3.jpg" class="trainers__image" width="360" height="500" alt="Тренер">
            </picture>

            <h3 class="trainers__name">Тренер 5</h3>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-5">Подробнее</button>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="container">
    <div class="trainers__nav">

      <div class="trainers__scroll swiper-scrollbar"></div>

      <div class="trainers__btns">
        <button class="btn-reset trainers__slider-btn trainers__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
        <button class="btn-reset trainers__slider-btn trainers__slider-btn--next" aria-label="Перейти к следующему слайду"></button>
      </div>

    </div>
  </div>


</section>
